<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
</head>

<body>
    <div id="index_div_back" data-role="page">
        <div role="main" class="ui-content">
            <div>
                <img id="index_div_logo" src="/images/logo_big.png" />
            </div>
            <div id="index_div_login_container">
                <input id="index_input_id" placeholder="Username or Email" type="text" />
                <input id="index_input_pw" placeholder="Password" type="text" />
                <button type="button">로그인</button>
                <button type="button">카카오톡으로 시작하기</button>
                <div id="index_div_join_container"><span>패스워드 찾기</span> | <span>회원가입</span></div>
            </div>
        </div><!-- /content -->
    </div><!-- /page -->

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="/javascripts/index.js"></script>
</body>
</html>

